<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjdzj.www.dao.UnitDao">
	<!-- resultMap属性：type为java实体类；id为此resultMap的标识。 -->


	<resultMap type="Unit" id="unit" >
		<result property="unitId" column="_unitId" />
		<result property="unitName" column="_unitName" />
		<result property="unitParent" column="_unitParent"/>
		<association property="unitUserId" column="_unitUserId" javaType="Unit"/>
	</resultMap>
	<select id="query_conn" parameterType="Unit" resultMap="unit">
		select unit.unitName as conn_name user.passWord as conn_password
		* from b_unit,b_user where unit.unitUserId = user.userId
	</select>
	<insert id="insertUnit" parameterType="Unit">  
     <![CDATA[ 
        insert into b_user(
        _unitId, 
		_unitName,
		_unitParent,
		_unitUserId) 
        values (#{unitId} ,
		#{unitName},
		#{unitParent}
		#{unitUserId} ) 
        ]]>
	</insert>

</mapper>