html, body {
	height: 100%;
	width:99.99%;
}
.warp {
	height: 100%;
	background: #7b8aa1;
	background:#74aed6;
	
	_height:100% !important;
	_height:600px;
	
}
.top_c {
	background: url(../images/top.jpg) repeat-x #328cc9;
	height: 97px;
	position: relative;
}
.top-nav {
	position: absolute;
	width: 348px;
	text-align: right;
	bottom: 20px;
	right: 10px;
	color: #afbbd5;
}
.top-nav a:link {
	color: #afbbd5;
}
.top-menu {
	position: absolute;
	right: 0;
	top: 0;
	height: 34px;
	
	padding-left: 52px;
}
.top-menu .top-menu-nav {
	white-space: nowrap;
	height: 52px;
	/*background: url(../images/top-menu-con.gif) repeat-x;*/
	margin: 0;
	padding: 0;
}

.top-menu .top-menu-nav li a{color:#fff;}

.top-menu .top-menu-nav li {
	white-space: nowrap;
	float: left;
	margin: 4px 0;
	border-right: 1px dotted #5A6885;
	padding: 0 18px;
}
.top-menu-nav .kidc li a{color:#000;}

.top-menu-nav .kidc {
	background: #FEFAF4;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 9999;
	position: absolute;
	padding: 5px 0;
	margin-left: -10px;
	margin-top: 10px;
	border: 1px solid #afbbd5;
	display: none;
	
	*margin-left: -140px;
	*margin-top: 30px;
}
.top-menu-nav .kidc li {
	float: none;
	background: none;
	border: none;
	padding: 3px 20px;
}
.top-menu-nav .kidc li:hover {
	background: #3a6aee;
	color: #FFF;
}
.top-menu-nav .kidc li a:hover {
	background: #3a6aee;
	color: #FFF;
	text-decoration: none;
}
.left_c {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #d1d8e2;
	width: 235px;
	position: absolute;
	top: 105px;
	left: 8px;
	overflow: hidden;
	bottom: 34px;
	background:#c7deed;
	
	_height:auto !important;
	_height:600px;
	_overflow:auto;
}
.left_c .acc {
	position: absolute;
	bottom: 0;
	top: 36px;
	width: 100%;
	overflow: auto;

	_overflow:auto;
	
}
.left_c h1 {
	line-height:34px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #333;
	text-indent: 15px;
	font-size: 14px;
	background-color: #b0bbd1;
	background: -moz-linear-gradient(top, #cfd6e9, #9da6c3);
	background: -webkit-linear-gradient(top, #cfd6e9, #9da6c3);
	background: -o-linear-gradient(top, #cfd6e9, #9da6c3);
	background: -moz-linear-gradient(top, #fafafa, #e4e4e4);
	background: -webkit-linear-gradient(top, #fafafa, #e4e4e4);
	background: -o-linear-gradient(top, #fafafa, #e4e4e4);
	border-top: 1px solid #fff;
	border-bottom: 1px solid #949ab4;
	
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e4e4e4', GradientType=0);
	
}
.left_c ul {
	margin: 0;
	padding: 0;
	display: none;
}

.one {
	text-indent: 25px;
	font-weight: bold;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #323d53;
	padding:6px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #949ab4;
	
  background-color:#f5f5f5;
  background-image: -moz-linear-gradient(top, #fafafa, #ededed);
  background-image: -ms-linear-gradient(top, #fafafa, #ededed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ededed));
  background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
  background-image: -o-linear-gradient(top, #fafafa, #ededed);
  background-image: linear-gradient(top, #fafafa, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ededed', GradientType=0);
 

	  
}
.left_c a.one:hover {
	text-decoration: none;
	color: #7f031b;
	background: #F5B201;
	background:#58a1d3;
	color:#333;
	/* border-top: 1px solid #FEDE7B;
    border-bottom: 1px solid #C3262D;*/
    background: -moz-linear-gradient(top, #fedf7c, #eca201);
	background: -webkit-linear-gradient(top, #fedf7c, #eca201);
	background: -o-linear-gradient(top, #fedf7c, #eca201);
	background: -moz-linear-gradient(top, #b3e0ff, #58a1d3);
	background: -webkit-linear-gradient(top, #b3e0ff, #58a1d3);
	background: -o-linear-gradient(top, #b3e0ff, #58a1d3);
}
.one-hover {
	color: #7f031b;
	background: #F5B201;
	background:#58a1d3;
	/* border-top: 1px solid #FEDE7B;
    border-bottom: 1px solid #C3262D;*/
    background: -moz-linear-gradient(top, #fedf7c, #eca201);
	background: -webkit-linear-gradient(top, #fedf7c, #eca201);
	background: -o-linear-gradient(top, #fedf7c, #eca201);
	background: -moz-linear-gradient(top, #b3e0ff, #58a1d3);
	background: -webkit-linear-gradient(top, #b3e0ff, #58a1d3);
	background: -o-linear-gradient(top, #b3e0ff, #58a1d3);
	font-weight:bold;
	color:#333;
}
.kid li {
	text-indent: 25px;
	cursor: pointer;
	padding: 3px 0;
	background: #fefbf6;
	border-bottom: 1px solid #8e9db0;
	background: -moz-linear-gradient(top, #feffff, #fff4e8);
	background: -webkit-linear-gradient(top, #feffff, #fff4e8);
	background: -o-linear-gradient(top, #feffff, #fff4e8);
}
.kid li:hover {
	color: #810026;
	background: -moz-linear-gradient(top, #feffff, #fffaf6);
	background: -webkit-linear-gradient(top, #feffff, #fffaf6);
	background: -o-linear-gradient(top, #feffff, #fffaf6);
}
.kid .tip {
	
	padding-left:20px;
}

/*.active{ color:red;}
*/
.alert .tip {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-left-color: #000;
	display: inline-block;
}
.tip-down {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-bottom-color: #000;
	display: inline-block;
}
.tip-left {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-left-color: #000;
	display: inline-block;
}
.tip-up {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-top-color: #000;
	display: inline-block;
}
.tip-up-red {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-top-color: #000;
	display: inline-block;
}
#datepicker {
	font-family: "Vani";
}
.right_c {
	position: relative;
	background: #d1d8e2;
	position: absolute;
	bottom: 34px;
	left: 260px;
	top: 105px;
	border-top: 1px solid #687295;
	border-left: 1px solid #687295;
	right: 0;
	border-top-left-radius: 8px;
	background:#c7deed;
	
	_height:auto !important;
	_height:600px;
	_background-color:#c7deed;
	
}
.nav-tip {
	cursor: pointer;
	width: 12px;
	background: url(../images/nav-tip.gif) no-repeat;
	left: -12px;
	top: 50%;
	height: 73px;
	position: absolute;
	background-position-x: 0;
}
.Conframe {
	border-radius: 8px;
	border: 1px solid #b3baca;
	background: #FFF;
	position: absolute;
	left: 268px;
	top: 113px;
	overflow: auto;
	right: 8px;
	bottom: 42px;
	z-index: 999;
	padding: 8px;
	
	_height:auto !important;
	_height:600px;
	_left:268px;
	_float:right;
	

	
}
#frame_content {
	border: none;
	height: 100%;
	width: 100%;
}
.bottom_c {
	position: absolute;
	bottom: 0;
	background: #328cc9;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 8px 0;
	
	_display:none;
	
	
	
}
/*
	表单
*/

		/* Form styles */
div.form-container {
	margin: 10px;
	padding: 5px;
	background-color: #FFF;
	border: #EEE 1px solid;
	margin:0;
}


div.form-container_none {
	margin: 10px;
	padding: 5px;
	background-color: #FFF;
	margin:0;
}

div.form-container_none_scroll {
	margin: 10px;
	padding: 5px;
	background-color: #FFF;
	margin:0;
	
	overflow-x:auto;
}


p.legend {
	margin-bottom: 1em;
}
p.legend em {
	color: #C00;
	font-style: normal;
}
div.errors {
	margin: 0 0 10px 0;
	padding: 5px 10px;
	border: #FC6 1px solid;
	background-color: #FFC;
}
div.errors p {
	margin: 0;
}
div.errors p em {
	color: #C00;
	font-style: normal;
	font-weight: bold;
}
div.form-container form p {
	margin: 0;
}
div.form-container form p.note {
	margin-left: 170px;
	font-size: 90%;
	color: #333;
	color:#999;
}
div.form-container form fieldset {
	margin: 10px 0;
	padding: 10px;/*border: #DDD 1px solid;*/
	
	margin:0;
	padding:5px;
}
div.form-container form legend {
	font-weight: bold;
	/* color: #666; */
	
	font-size:11pt;
	
	
}
div.form-container form fieldset div {
	padding: 0.4em 0;
	float:left;
	display:block;
 	*float:left;
}

div.form-container form div {
	padding: 0.4em 0;
	
	display:block;
 	
}



div.form-container label em, div.form-container span.label em {
	position: absolute;
	right: 0;
	font-size: 120%;
	font-style: normal;
	color: #C00;
}
div.form-container input:focus, div.form-container input.error:focus, div.form-container textarea:focus {
	background-color: #FFC;
	border-color: #FC6;
}
div.form-container div.controlset label, div.form-container div.controlset input {
	display: inline;
	float: none;
}
div.form-container div.controlset div {
	margin-left: 170px;
}
div.form-container div.buttonrow {
	
	margin-left:110px;
}

div.form-container div.buttonrow a {
	
	margin-left:15px;
}


div.form-container div.searchbtn {
	 margin-left:5px;
}

div.form-container label.item_w75 {
	padding-right:10px;
	
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	
	width:75px;
	
	height:22px;
	line-height:22px;
	
}


div.form-container label.item_w100 {
	
	padding-right:10px;
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	
	width:100px;
	height:22px;
	line-height:22px;
	margin-right:0;
	
}

div.form-container label.item_w115 {
	padding-right:10px;
	
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	
	width:115px;
	
}

div.form-container label.item_w125 {
	padding-right:10px;
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	
	width:125px;
	
}


div.form-container label.item {
	padding-right:10px;
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	
	width:120px;
	width:75px;
	width:65px;
	height:22px;
	line-height:22px;
	
	

	
}
div.form-container label.row1 {
	padding-right:10px;
	
	width: 70px;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	
	height:22px;
	line-height:22px;
	
}


div.form-container label.row1_w75 {
	padding-right:10px;
	
	width: 75px;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	
	height:22px;
	line-height:22px;
	
}


div.form-container label.row_w115 {
	padding-right:10px;
	
	width: 70px;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	
	width:115px;
}


div.form-container label.row2 {
	padding-right:10px;
	
	width: 70px;
	display: block;
	float: right;
	text-align: right;
	position: relative;
}
/*留言表单 form*/

form.register {
	width:960px;
	/* margin: 20px auto 0px auto; */
	background-color:#fff;
	padding:5px;
	
	margin-top:10px;
	margin-left:0;
	
	/* margin:上 右 下 左; */
}
form.register div.row4 {
	/*  padding:5px; */
			float:left;
	clear:both;
	width:500px;
}



/*下拉框*/

.acc a.one img {
  margin-top: 7px;
  float: right;
  opacity: 0.7;
  filter: alpha(opacity=0.5s);
  padding-right:25px;
}

.form-search{width:800px;}

/*ie6*/
div.info-bar {
	width: 100%;
	position: absolute;
	left: 0px;
}
div.info-bar div.info-content {
	padding: 8px 0 8px 32px;
	line-height: 45px;
	overflow: hidden;
	border-top: 1px solid;
	border-bottom: 1px solid;
	height:45px;
	
	font-size:11pt;
}

div.info-bar div.information {
	background: #EFDCA9 url("../img/info.png") no-repeat left center;
	color: #525252;
	border-color: #E4C46D;
}

div.info-bar div.warning {
	background: #C31D1D url("../img/warning.png") no-repeat left center;
	color: #FFFFFF;
	border-color: #9A1616;
}

/**
 * 遮罩层
 */
div.shadow {
	background: url("../img/overlay.png");
	position: absolute;
	float: left;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

/*file*/

input.ht-file{
	height: 26px;
	right: 0px;
	top: 0px;
	cursor: pointer;
	-webkit-opacity: 0;
	-moz-opacity:0;
	-ms-opacity:0;
	-o-opacity:0;
	opacity:0;
	filter:alpha(opacity=0);
}



